<nav mat-tab-nav-bar [backgroundColor]="background" mat-align-tabs="center">
  <a mat-tab-link routerLink="/">Home</a>
  <a mat-tab-link routerLink="/signin"> SignIn </a>
  <a mat-tab-link routerLink="/signup"> SignUp </a>
</nav>
<div class="example-container">
  <div class="form-container">
    <p *ngIf="display_err"><span style="color: crimson">{{err_msg}}</span></p>
    <form class="example-form" [formGroup]="LoginForm" method="post" (ngSubmit)="handleSubmit($event)">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" placeholder="username" required>
        <mat-hint align="start"><strong>this filed is required</strong> </mat-hint>
        <mat-error *ngIf="LoginForm.controls.username.invalid && !LoginForm.hasError('required')">
          username must be minimum 6 characters and maximum 12
        </mat-error>
        <mat-error *ngIf="LoginForm.hasError('required')">
          username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br/><br/>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password" required>
        <mat-hint align="start"><strong>password must be minimum length of 6</strong> </mat-hint>
        <mat-error *ngIf="LoginForm.controls.password.invalid">
          invalid  password
        </mat-error>
      </mat-form-field>
      <br/><br/>
      <button mat-raised-button color="primary" type="submit" [disabled]="!LoginForm.valid">Submit</button>
    </form>
  </div>
</div>
